@import "tailwindcss";

@theme {
  --color-neural-violet: #020203;
  --color-surface-glass: rgba(255, 255, 255, 0.03);
  --color-surface-glass-hover: rgba(255, 255, 255, 0.08);
  --color-electric-lime: #CCFF00;
  --color-lime-dim: #A3CC00;
  --color-violet-glow: #7C3AED;
  --color-void-black: #020203;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-void-black);
  color: white;
}

.bg-grid-pattern {
  background-image: radial-gradient(circle, rgba(255,255,255,0.05) 1px, transparent 1px);
}

code {
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow-neon {
  box-shadow: 0 0 20px -5px rgba(204, 255, 0, 0.3);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
